@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f0f0f0;
	text-align: center;
}

body .container {
	padding: 30px 0;
}

.panel {
	position: relative;
	width: 280px;
	padding: 15px 20px;
	border: 2px solid #333333;
	border-radius: 3px;
	margin: 0 auto 20px;
	overflow: hidden;
	background-color: #111111;
	user-select: none;
}

.panel .exchange-rate {
	position: relative;
	width: 100%;
	text-align: left;
	color: #EEEEEE;
}

.panel .exchange-rate .label {
	display: none;
	margin-bottom: 25px;
	font-size: 14px;
}

.panel .exchange-rate .conversion-selector {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	font-size: 12px;
	color: #FF9144;
	cursor: pointer;
}

.panel .exchange-rate .conversion-selector::after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 5px;
	height: 5px;
	border-right: 1px solid #FF9144;
	border-bottom: 1px solid #FF9144;
	margin-top: 2px;
	margin-left: 10px;
	transform: rotate(45deg);
}

.panel .exchange-rate .rate {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-size: 36px;
	letter-spacing: 1px;
}

.panel .exchange-rate .rate::before {
	content: attr(data-currency);
	vertical-align: top;
	margin-right: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.panel .exchange-rate .rate::after {
	content: attr(data-change);
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	font-size: 12px;
	transition: color 150ms ease;
}

.panel .exchange-rate .rate[data-performance='+']::after {
	color: #53DE73;
}

.panel .exchange-rate .rate[data-performance='-']::after {
	color: #E45050;
}

.panel #chart {
	margin-left: -20px;
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
	text-align: left;
}

.panel #chart svg {
	position: relative;
	overflow: visible;
}

.panel #chart svg .line {
	fill: none;
	stroke: #FF9144;
	stroke-width: 2px;
	stroke-linecap: round;
}

.panel #chart svg .circle {
	r: 4px;
	fill: #111111;
	stroke: #FF9144;
	stroke-width: 2px;
}

.panel #chart svg .circle-shadow {
	filter: url(#shadow);
}

.panel #chart svg .guide {
	stroke: #333333;
	stroke-dasharray: 3;
}

button {
	padding: 10px 15px;
	border: 1px solid #333333;
	border-radius: 3px;
	background-color: #111111;
	-webkit-appearance: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #333333;
	transition: all 150ms ease-out;
}

button:hover {
	border-color: #FF9144;
	background-color: #191919; /* lighten($c-panel-bg, 5%) */
	color: #EEEEEE;
}

button:focus {
	outline: none;
}
