<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Send Data to FastAPI</title>
    <script src="./static/global.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/ditu/css/visual.css">
    <script src="./static/ditu/js/echarts.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/charts.css">
</head>

<body style="background-color: #ffffff">

<!-- partial:index.partial -->
<div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
        <div class="sidebar-layout">
            <div class="sidebar-header">
                <div class="pro-sidebar-logo">
                    <a href="./index">
                        <h5>DGA域名检测系统</h5>
                    </a>
                </div>
            </div>
            <div class="sidebar-content">
                <nav class="menu open-current-submenu">
                    <ul>
                        <li class="menu-item sub-menu">
                            <a href="./home">
                <span class="menu-icon">
                  <i class="ri-vip-diamond-fill"></i>
                </span>
                                <span class="menu-title">首页</span>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="menu-item sub-menu">
                            <a href="./database">
                <span class="menu-icon">
                  <i class="ri-bar-chart-2-fill"></i>
                </span>
                                <span class="menu-title">动态抓取</span>
                            </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a href="./type">
                <span class="menu-icon">
                  <i class="ri-global-fill"></i>
                </span>
                                <span class="menu-title">状态查询</span>
                            </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a href="./Charts">
                <span class="menu-icon">
                 <i class="ri-paint-brush-fill"></i>
                </span>
                                <span class="menu-title">Charts</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>

    <div style="height: 10%; width: 10%; padding-top: 5%">
        <h5>请下拉选择框，选择查看的用户数据</h5>
        <select style="float: left; color: #12fe81" id="collectionSelect">
            <!-- 默认选项 -->
            <option value="" disabled selected id="sendButton">Select a collection</option>
        </select>
    </div>

<style>
    body {
        display: grid;
        grid-template-rows: 1fr 1fr; /* 上下均分 */
        grid-template-columns: 1fr 1fr; /* 左右均分 */
        height: 100vh; /* 让整个页面占据视口的高度 */
        margin: 0; /* 去除默认的外边距 */
    }

    .area {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
    }

    .area:nth-child(1) {
        background-color: lightblue; /* Top区域颜色 */
    }

    .area:nth-child(2) {
        background-color: lightgreen; /* Right区域颜色 */
    }

    .area:nth-child(3) {
        background-color: lightcoral; /* Bottom区域颜色 */
    }

    .area:nth-child(4) {
        background-color: lightgoldenrodyellow; /* Left区域颜色 */
    }
</style>

<!-- charts -->
<!-- line -->
    <div class="visual">
        <!-- 趋势图 -->
        <div class="visual_up_left">
            <h1><span id="User"></span>用户的数据分析</h1>
            <div class="visual_box">
                <div class="visual_title">
                    <span>网络攻击分析趋势图</span>
                </div>
                <div class="visual_chart" id="main2">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Scripts -->


    <script>

const selectElement = document.getElementById("collectionSelect");
        // 创建WebSocket连接

        const socket = new WebSocket('ws://192.168.78.71:8000/collection_names');

        socket.addEventListener("message", function(event) {
            const collectionNames = JSON.parse(event.data);
            updateDropdown(collectionNames);
        });

        function updateDropdown(collectionNames) {
            // 清空下拉框
            selectElement.innerHTML = "";

            // 添加默认选项
            const defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.disabled = true;
            defaultOption.selected = true;
            defaultOption.textContent = "Select a collection";
            selectElement.appendChild(defaultOption);

            // 添加集合名称选项
            collectionNames.forEach(function(collectionName) {
                const option = document.createElement("option");
                option.value = collectionName;
console.log(collectionName);
                option.textContent = collectionName;
                selectElement.appendChild(option);
            });
        }

        let currentTime = null;
        const socket_Time = new WebSocket(`ws://${ipAddress}/count_per_six_seconds`);
        socket_Time.onmessage = (event) => {
            try {
                const time_data = JSON.parse(event.data);
                console.log(time_data);
                var myChart2 = echarts.init(document.getElementById('main2'));
                option2 = {
                    tooltip: {//鼠标指上时的标线
                        trigger: 'axis',
                        axisPointer: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    legend: {
                        icon: 'rect',
                        itemWidth: 14,
                        itemHeight: 5,
                        itemGap: 13,
                        data: ['ddos'],
                        right: '10px',
                        top: '0px',
                        textStyle: {
                            fontSize: 12,
                            color: '#fff'
                        }
                    },
                    grid: {
                        x: 35,
                        y: 25,
                        x2: 8,
                        y2: 25,
                    },
                    xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        axisLine: {
                            lineStyle: {
                                color: '#57617B'
                            }
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#fff',
                            },
                        },
                        data: time_data.data
                    }],
                    yAxis: [{
                        type: 'value',
                        axisTick: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#57617B'
                            }
                        },
                        axisLabel: {
                            margin: 10,
                            textStyle: {
                                fontSize: 14
                            },
                            textStyle: {
                                color: '#fff',
                            },
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#57617B'
                            }
                        }
                    }],
                    series: [{
                        name: 'ddos',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgba(137, 189, 27, 0.3)'
                                }, {
                                    offset: 0.8,
                                    color: 'rgba(137, 189, 27, 0)'
                                }], false),
                                shadowColor: 'rgba(0, 0, 0, 0.1)',
                                shadowBlur: 10
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: 'rgb(137,189,27)'
                            }
                        },
                        data: time_data.count
                    }
                    ]
                };
                myChart2.setOption(option2);
            } catch (error) {
                console.error("JSON 解析错误：", error);
            }
        }

        document.getElementById("sendButton").addEventListener("click", sendData);

function sendData() {
    const selectedCollection = selectElement.value;  // Get the selected value from dropdown
    const dataToSend = {Local: selectedCollection, Time: "value2"};
    User.innerHTML = dataToSend.Local;
    fetch('/api/send_data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataToSend)
    })
            .then(response => response.json())
            .then(data => {
                console.log('Response from FastAPI:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
}

selectElement.addEventListener("change", sendData);

    </script>
</body>
</html>
