<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 数据看板 | DGA域名检测系统 </title>

    <!-- Google fonts -->

    <link href="static/css/css2.css" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="static/css/bootstrap-icons.min.css" type="text/css">
    <!-- Bootstrap Docs -->
    <link rel="stylesheet" href="static/css/bootstrap-docs.css" type="text/css">

    <!-- Slick -->
    <link rel="stylesheet" href="static/css/slick.css" type="text/css">

    <!-- Main style file -->
    <link rel="stylesheet" href="static/css/app.min.css" type="text/css">


    <script>
        var serverIp = "{{ ipAddress }}";
    </script>

    <!-- 引入 ECharts -->

    <script src="./static/js/echarts.min.js"></script>
    <script src="./static/js/echarts-gl.min.js"></script>
    <script src="./static/js/world.js"></script>
    <script src="static/js/mychart_type_rate.js"></script>


</head>
<body>
<div class="menu">
    <div class="menu-header">
        <a href="" class="menu-header-logo">
            <img src="static/image/favicon.jpg" alt="logo">
        </a>
        <a href="" class="btn btn-sm menu-close-btn">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="menu-body">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
                <div class="avatar me-3">
                    <img src="static/picture/man_avatar3.jpg" class="rounded-circle" alt="image">
                </div>
                <div>
                    <div class="fw-bold">user</div>
                    <small class="text-muted">ip:xxxxxx</small>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="#" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-person dropdown-item-icon"></i> Profile
                </a>
                <a href="#" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-envelope dropdown-item-icon"></i> Inbox
                </a>
                <a href="#" class="dropdown-item d-flex align-items-center" data-sidebar-target="#settings">
                    <i class="bi bi-gear dropdown-item-icon"></i> Settings
                </a>
                <a href="login.html" class="dropdown-item d-flex align-items-center text-danger" target="_blank">
                    <i class="bi bi-box-arrow-right dropdown-item-icon"></i> Logout
                </a>
            </div>
        </div>
        <ul>
            <li class="menu-divider">导航栏</li>
            <li>
                <a href="big_view.html">
                                <span class="nav-link-icon">
                                    <i class="bi bi-lock"></i>
                                </span>
                    <span>实时监控</span>
                </a>
            </li>
            <li>
                <a href="index.html">
                                <span class="nav-link-icon">
                                    <i class="bi bi-bar-chart"></i>
                                </span>
                    <span>数据分析</span>
                </a>
            </li>
            <li>
                <a href="orders.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-receipt"></i>
                    </span>
                    <span>集群列表</span>
                </a>
            </li>
            <li>
                <a href="mode-total.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-paperclip"></i>
                    </span>
                    <span>部署模式</span>
                </a>
            </li>
            <li>
                <a href="customers.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-person-badge"></i>
                    </span>
                    <span>流量日志</span>
                </a>
            </li>
            <li>
                <a href="Security_policy.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-shield-lock-fill"></i>
                    </span>
                    <span>安全策略</span>
                </a>
            </li>
            <li>
                <a href="order-detail.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-search"></i>
                    </span>
                    <span>设备详情</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./  menu -->

<!-- layout-wrapper -->
<div class="layout-wrapper">

    <!-- header -->
    <div class="header">
        <div class="menu-toggle-btn"> <!-- Menu close button for mobile devices -->
            <a href="#">
                <i class="bi bi-list"></i>
            </a>
        </div>
        <!-- Logo -->
        <a href="" class="logo">
            <img width="100" src="static/image/favicon.jpg" alt="logo">
        </a>
        <!-- ./ Logo -->
        <div class="page-title">数据看板</div>
        <div class="header-bar ms-auto">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link nav-link-notify" data-count="3" data-sidebar-target="#notifications">
                        <i class="bi bi-bell icon-lg"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" data-count="3" data-bs-toggle="dropdown">
                        <i class="bi bi-cart2 icon-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                        <h6 class="m-0 px-4 py-3 border-bottom">购物车</h6>
                        <div class="dropdown-menu-body">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/3.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>会员</h6>
                                        <div>1 x 18/月</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/4.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>流量</h6>
                                        <div>2 x 240</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/5.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>域名设备</h6>
                                        <div>1 x 500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item ms-3">
                    <button class="btn btn-primary btn-icon">
                        <i class="bi bi-plus-circle"></i> Create New
                    </button>
                </li>
            </ul>
        </div>
        <!-- Header mobile buttons -->
        <div class="header-mobile-buttons">
            <a href="#" class="search-bar-btn">
                <i class="bi bi-search"></i>
            </a>
            <a href="#" class="actions-btn">
                <i class="bi bi-three-dots"></i>
            </a>
        </div>
        <!-- ./ Header mobile buttons -->
    </div>
    <!-- ./ header -->

    <!-- content -->
    <div class="content ">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!--?            四个线条组件-->
            <div class="col-four">
                <div style="width:25%;margin-right: 30px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <div class="display-7">
                                    <i class="bi bi-bell"></i>
                                </div>
                            </div>
                            <h4 class="mb-3">新增流量记录</h4>
                            <div class="d-flex mb-3">
                                <div class="display-7">7310</div>
                                <div class="ms-auto" id="total-1"></div>
                            </div>
                            <div class="text-success">
                                与昨日相比 1.4% <i class="small bi bi-arrow-up"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:25%;margin-right: 30px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <div class="display-7">
                                    <i class="bi bi-credit-card-2-front"></i>
                                </div>
                            </div>
                            <h4 class="mb-3">集群域名访问量</h4>
                            <div class="d-flex mb-3">
                                <div class="display-7">598</div>
                                <div class="ms-auto" id="total-2"></div>
                            </div>
                            <div class="text-danger">
                                与昨日相比 2.4% <i class="small bi bi-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:25%;margin-right: 30px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <div class="display-7">
                                    <i class="bi bi-book"></i>
                                </div>
                            </div>
                            <h4 class="mb-3">恶意域名记录</h4>
                            <div class="d-flex mb-3">
                                <div class="display-7">7</div>
                                <div class="ms-auto" id="total-3"></div>
                            </div>
                            <div class="text-success">
                                与昨日相比 1.1% <i class="small bi bi-arrow-up"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:25%;margin-right: 30px;">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <div class="display-7">
                                    <i class="bi-basket"></i>
                                </div>
                            </div>
                            <h4 class="mb-3">在线设备数量</h4>
                            <div class="d-flex mb-3">
                                <div class="display-7">3</div>
                                <div class="ms-auto" id="total-4"></div>
                            </div>
                            <div class="text-danger">
                                与昨日相比 1.7% <i class="small bi bi-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--?            <div class="rating-container" style="height:30px;">-->
            <!--?                <div class="rating-container-left" style="width: 25%; float: left;">-->
            <!--?                    <div class="data-section" style="width: 50%; float: left;">-->
            <!--?                        <h6>今日访问量增加率</h6>-->
            <!--?                        <h6 style="text-align: center">26%⬆</h6>-->
            <!--?                    </div>-->
            <!--?                    <div id="customer-rating-left" style="height: 45%; width: 50%; float: right;"></div>-->
            <!--?                </div>-->
            <!--?                <div class="rating-container-right" style="width: 25%; float: left;">-->
            <!--?                    <div class="data-section" style="width: 50%; float: left;">-->
            <!--?                        <h6>今日访问量减少率</h6>-->
            <!--?                        <h6 style="text-align: center">10%⬇</h6>-->
            <!--?                    </div>-->
            <!--?                    <div id="customer-rating-right" style="height: 45%; width: 50%; float: right;"></div>-->
            <!--?                </div>-->
            <!--?            </div>-->
            <!--            异常与正常域名比例-->
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">集群恶意域名感知&nbsp&nbsp&nbsp&nbsp&nbsp攻击类型分布</h6>
                        <div id="domain_count" style="height: 50%; width:50%; float: left;"></div>
                        <div id="domain_count2" style="height: 50%; width:50%; float: right;"></div>
                    </div>
                </div>
            </div>
            <!--集群状态-->
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">集群域名日访问累计</h6>
                        <div id="domain_count3" style="height: 45%;"></div>
                    </div>
                </div>
            </div>

            <!--新消息通知-->
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h6 class="card-title">新消息通知</h6>
                            <div class="dropdown ms-auto">
                            </div>
                        </div>
                        <div class="summary-cards">
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <div class="avatar me-3">
                                        <img src="static/picture/robot.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div>
                                        <h5 class="mb-1">域名检测助手</h5>
                                        <ul class="list-inline ms-auto mb-0">
                                            <li class="list-inline-item mb-0">
                                                <h6>2023-11-28 16:08</h6>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>
                                    感谢您使用我们的域名检测服务！您的域名检测结果已经生成。请查看您提供的邮箱或登录我们的平台，以查看详细的报告。我们的报告将提供全面的信息，帮助您更好地了解您的域名情况，并为您未来的在线活动提供指导。如果您需要任何帮助或有任何疑问，请随时联系我们的客户服务团队。期待为您提供优质的服务体验！</h5>
                            </div>
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <div class="avatar me-3">
                                        <img src="static/picture/banshou.png" class="rounded-circle" alt="image">
                                    </div>
                                    <div>
                                        <h5 class="mb-1">系统通知</h5>
                                        <ul class="list-inline ms-auto mb-0">
                                            <li class="list-inline-item mb-0">
                                                <h6>2024-2-12 12:08</h6>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>
                                    非常高兴地通知您，您查询的域名目前可供注册使用！为确保您能够拥有该域名，请尽快完成注册流程。这是一个绝佳的机会，让您拥有一个与您业务或项目相关的独特在线身份。抓住这个机会，注册您心仪的域名，开启属于您自己的在线旅程！</h5>
                            </div>
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <div class="avatar me-3">
                                        <img src="static/picture/cash.png" class="rounded-circle" alt="image">
                                    </div>
                                    <div>
                                        <h5 class="mb-1">账号与用户</h5>
                                        <ul class="list-inline ms-auto mb-0">
                                            <li class="list-inline-item mb-0">
                                                <h6>2024-3-20 09:23</h6>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>
                                    当您的域名即将到期时，我们会通过电子邮件发送提醒您续订的通知，以确保您不会失去您重要的域名。我们明白域名对于您的业务至关重要，因此提前通知您续订的时间，让您有足够的准备时间。请您务必在到期前及时续订，以免造成不必要的中断和损失。</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            实时流量监控-->
            <div class="col-lg-7 col-md-12">
                <div class="card widget h-100">
                    <div class="card-header d-flex">
                        <h6 class="card-title">
                            实时流量监控
                            <a class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Multi-device data volume"></a>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="d-md-flex align-items-center mb-3">
                            <div class="d-flex align-items-center">
                                <div class="display-7 me-3">
                                    <i class="bi bi-bag-check me-2 text-success">多设备数据量变化</i>
                                </div>
                            </div>
                        </div>
                        <div id="sales-chart"></div>
                        <div class="d-flex justify-content-center gap-4 align-items-center ms-auto mt-3 mt-lg-0">
                        </div>
                    </div>
                </div>
            </div>

            <!--            地图-->
            <div class="col-lg-5 col-md-12">
                <div class="card widget h-100">
                    <div class="card-header d-flex">

                        <!--?  世界地图-->
                        <h6 class="card-title">
                            流量路径
                            <a class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Data traffic path"></a>
                        </h6>

                    </div>
                    <div class="card-body">
                        <!-- 地图容器 -->
                        <div id="main" style="height:480px; border-radius: 20px;"></div>

                    </div>
                </div>
            </div>
            <!--            域名种类统计（过去五天每天的类别数量）-->
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">域名种类统计（过去五天每天的类别数量）</h6>
                        <div id="domain_kinds" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <!--每日数据流量七天-->
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 bg-purple">
                    <div class="card-body text-center">
                        <div class="text-white-50">
                            <div class="bi bi-box-seam display-6 mb-3"></div>
                            <div class="display-8 mb-2">集群每日访问流量</div>
                            <h5>7 days</h5>
                        </div>
                        <div id="products-sold"></div>
                    </div>
                </div>
            </div>
            <!--            设备列表-->
            <div class="col-lg-4 col-md-6">
                <div class="card widget h-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title">
                            设备列表
                            <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Sales performance revenue based by country"></a>
                            （共<span id="device-count">0</span>台设备）
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush" id="device-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ content -->
</div>
<!-- ./ layout-wrapper -->
</body>
</html>