<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统首页</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/home.css">
    <link rel="stylesheet" type="text/css" href="./static/ditu/css/visual.css">
</head>
<body>
<!-- partial:index.partial -->
<div class="layout has-sidebar">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
        <div class="sidebar-layout">
            <div class="sidebar-header">
                <div class="pro-sidebar-logo">
                    <a href="./index.html">
                        <h5>DGA域名检测系统</h5>
                    </a>
                </div>
            </div>
            <div class="sidebar-content">
                <nav class="menu open-current-submenu">
                    <ul>
                        <li class="menu-item sub-menu">
                            <a href="./home.html">
                <span class="menu-icon">
                  <i class="ri-vip-diamond-fill"></i>
                </span>
                                <span class="menu-title">系统首页</span>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li class="menu-item sub-menu">
                            <a href="./database.html">
                <span class="menu-icon">
                  <i class="ri-bar-chart-2-fill"></i>
                </span>
                                <span class="menu-title">动态抓取</span>
                            </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a href="./type.html">
                <span class="menu-icon">
                  <i class="ri-global-fill"></i>
                </span>
                                <span class="menu-title">状态查询</span>
                            </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a href="./Charts.html">
                <span class="menu-icon">
                 <i class="ri-paint-brush-fill"></i>
                </span>
                                <span class="menu-title">图表分析</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </aside>

    <div class="wrapper">
        <div data-v-10c91e1e="" class="home-item" style="height: 12%">
                <div data-v-daf72762="" class="entry-wrap flex flex-between">
                    <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                                    src="//res.orayimg.com/hsk/console/2.0/img/f351ea2.png"
                                                                    alt="" width="44">
                        <p data-v-daf72762="" class="entry-text">新增应用</p></div>
                    <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                                    src="//res.orayimg.com/hsk/console/2.0/img/b0de197.png"
                                                                    alt="" width="44">
                        <p data-v-daf72762="" class="entry-text">独立密码</p></div>
                    <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                                    src="//res.orayimg.com/hsk/console/2.0/img/9942af1.png"
                                                                    alt="" width="44">
                        <p data-v-daf72762="" class="entry-text">域名列表</p></div>
                    <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                                    src="//res.orayimg.com/hsk/console/2.0/img/99656fe.png"
                                                                    alt="" width="44">
                        <p data-v-daf72762="" class="entry-text">订单管理</p></div>
                    <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                                    src="//res.orayimg.com/hsk/console/2.0/img/390f09a.png"
                                                                    alt="" width="44">
                        <p data-v-daf72762="" class="entry-text">多账号管理</p></div>
                    <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                                    src="//res.orayimg.com/hsk/console/2.0/img/a18c51a.png"
                                                                    alt="" width="44">
                        <p data-v-daf72762="" class="entry-text">联系客服</p></div>
                </div>
            </div>
        <div class="home-item" style="height: 6%">
            <p style="text-align: center;">今日域名访问总数量:<span id="All"></span></p>
            <p style="float: left">正常域名访问数量:<span id="Good"></span></p>

            <p style="float: right">异常域名访问数量:<span id="Bad"></span></p>
             <div id="main2" style="height:90px;"></div>
        </div>
        <footer>
            <div class="visual_con">
                <div class="visual_conBot">
                    <img class="visual_conBot_l" src="./static/ditu/images/ksh42.png">
                    <img class="visual_conBot_2" src="./static/ditu/images/ksh43.png">
                    <img class="visual_conBot_3" src="./static/ditu/images/ksh44.png">
                    <img class="visual_conBot_4" src="./static/ditu/images/ksh45.png">
                    <div class="visual_chart_text">
                                    <h1 style="color: #0d45ef">流量数据攻击路径映射</h1>
                    </div>
                    <div class="visual_chart" id="main8"></div>
                </div>
            </div>
        </footer>
    </div>

    <div class="user">
        <div class="flex">
            <div class="card">
                <div class="additional">
                    <div class="user-card">
                        <div class="level center">
                            <h4 id="User">当前暂无</h4>
                        </div>
                        <div class="points center">
                            登陆地点：滁州
                        </div>
                        <div id="user-picture">
                            <img src="./static/images/user.jpg" style="max-width: 100%; max-height: 100%;">
                        </div>
                        <p style="text-align: center; margin-top: 10px;">切换账号</p>
                    </div>
                    <div class="more-info">
                        <div class="coords">
                            <p>欢迎，您已登录！</p>
                        </div>
                    </div>
                </div>
                <div class="general">
                    <h1>设备列表</h1>
                    <div id="collectionList" class="collection-list">
                        <!-- 集合名称将作为列表项添加到这里 -->
                    </div>

                </div>
            </div>
        </div>
                <div id="main" style="height:400px;"></div>
    </div>

</div>
<!-- partial -->
<script src="./static/js/script.js"></script>
<!--<script src="./static/global.js"></script>-->
<script src="./static/ditu/js/echarts.min.js"></script>
<script src="./static/ditu/js/visual.js"></script>
<!--?<script src="./static/ditu/js/world.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript">
    const ipAddress = "{{ipAddress}}";
    console.log(ipAddress);
    const count_data = new WebSocket(`ws://${ipAddress}/data_list`);
    count_data.onmessage = (event) => {
        const count_data2 = JSON.parse(event.data);

        var count_data_good = document.getElementById("Good");
        var count_data_bad = document.getElementById("Bad");
        var count_data_all = document.getElementById("All");

        // 将变量的值插入到HTML元素的内容中
        count_data_good.innerHTML = count_data2.Good;
        count_data_bad.innerHTML = count_data2.Bad;
        count_data_all.innerHTML = count_data2.Good +count_data2.Bad;
    }

    var chartDom = document.getElementById('main2');
var myChart = echarts.init(chartDom);
var option;


    console.log(ipAddress);
    const count_data3 = new WebSocket(`ws://${ipAddress}/data_list`);
    count_data3.onmessage = (event) => {
        const count_data2 = JSON.parse(event.data);

option = {
  tooltip: {
    trigger: 'item'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      itemStyle: {
        borderRadius: 10,
        borderColor: '#fff',
        borderWidth: 2
      },
      label: {
        show: true,
        position: 'left'
      },
      emphasis: {
        label: {
          show: false,
          fontSize: 20,
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: count_data2.Good, name: 'Good' },
        { value: count_data2.Bad, name: 'Bad' }
      ]
    }
  ]
};

option && myChart.setOption(option);
}

    let currentData = null;
    const socket_city_map = new WebSocket(`ws://${ipAddress}/city_map`);
    socket_city_map.onmessage = (event) => {
        const data = JSON.parse(event.data);
        if (JSON.stringify(data) === JSON.stringify(currentData)) {
            return;
        }
        currentData = data;
        allDataParam = data;
        console.log(allDataParam);

        var myChart8 = echarts.init(document.getElementById('main8'));
        var city = [
            {
                "name": "延寿",
                "value": [128.331644, 45.451897, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "临江",
                "value": [126.918087, 41.811979, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "嘉兴",
                "value": [120.755486, 30.746129, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "四平",
                "value": [124.350398, 43.16642, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "营口",
                "value": [122.235418, 40.667012, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "密云",
                "value": [116.801346, 40.35874, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "威海",
                "value": [122.12042, 37.513068, 32],
                "symbolSize": 3,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "杭州",
                "value": [120.15507, 30.274085, 10],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "集安",
                "value": [126.194031, 41.125307, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "贵阳",
                "value": [106.630154, 26.647661, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "抚顺",
                "value": [123.957208, 41.880872, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "海门",
                "value": [121.181615, 31.871173, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "珠海",
                "value": [113.576726, 22.270715, 9],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "河北",
                "value": [114.475704, 38.584854, -19],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "深圳",
                "value": [114.057868, 22.543099, 14],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "黄浦",
                "value": [121.484443, 31.231763, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "蓬莱",
                "value": [120.758848, 37.810661, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "吉林",
                "value": [126.549572, 43.837883, -364],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "甘肃",
                "value": [103.826308, 36.059421, -2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "龙井",
                "value": [129.427066, 42.766311, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "茂名",
                "value": [110.925456, 21.662999, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "丹东",
                "value": [124.354707, 40.0005, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "晋中",
                "value": [112.752695, 37.687024, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "浙江",
                "value": [120.152792, 30.267447, -2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "海城",
                "value": [122.685217, 40.882377, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "溆浦",
                "value": [110.594921, 27.908281, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "北京",
                "value": [116.407526, 39.90403, -14],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "铁岭",
                "value": [123.726166, 42.223769, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "大同",
                "value": [113.61244, 40.040295, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "金坛",
                "value": [119.597897, 31.723247, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "齐齐哈尔",
                "value": [126.661669, 45.742347, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "咸阳",
                "value": [108.708991, 34.329605, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "四川",
                "value": [104.075931, 30.651652, -5],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "福田",
                "value": [114.055036, 22.52153, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "盘锦",
                "value": [122.070714, 41.119997, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "中山",
                "value": [113.392782, 22.517646, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "福建",
                "value": [119.295144, 26.10078, -1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "泰顺",
                "value": [119.717649, 27.556884, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "宝山",
                "value": [131.401589, 46.577167, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "庆安",
                "value": [127.507825, 46.880102, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "海淀",
                "value": [116.298056, 39.959912, 32],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "大兴",
                "value": [116.341395, 39.726929, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "桦川",
                "value": [130.719081, 47.023001, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "惠州",
                "value": [114.416196, 23.111847, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "青岛",
                "value": [120.38264, 36.067082, 52],
                "symbolSize": 3,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "朝阳",
                "value": [116.443108, 39.92147, 17],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "沈阳",
                "value": [123.431475, 41.805698, 41],
                "symbolSize": 3,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "菏泽",
                "value": [115.480656, 35.23375, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "南通",
                "value": [120.894291, 31.980172, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "南充",
                "value": [106.110698, 30.837793, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "双城",
                "value": [126.312745, 45.383263, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "南京",
                "value": [118.796877, 32.060255, 17],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "新疆",
                "value": [87.627704, 43.793026, -2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "成都",
                "value": [104.066541, 30.572269, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "陕西",
                "value": [108.954239, 34.265472, -2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "黄岛",
                "value": [120.04619, 35.872664, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "温州",
                "value": [120.699367, 27.994267, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "石家庄",
                "value": [114.51486, 38.042307, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "邢台",
                "value": [114.504844, 37.070589, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "赣州",
                "value": [114.93503, 25.831829, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "义乌",
                "value": [120.075058, 29.306841, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "南昌",
                "value": [115.858198, 28.682892, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "闵行",
                "value": [121.381709, 31.112813, 18],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "长宁",
                "value": [121.424624, 31.220367, 7],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "道里",
                "value": [126.616957, 45.755777, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "乳山",
                "value": [121.539765, 36.919816, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "双流",
                "value": [103.923648, 30.574473, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "广州",
                "value": [113.264435, 23.129163, 13],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "西城",
                "value": [116.365868, 39.912289, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "佳木斯",
                "value": [130.318917, 46.799923, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "皇姑",
                "value": [123.44197, 41.824796, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "榆树",
                "value": [126.533146, 44.840288, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "临汾",
                "value": [111.518976, 36.088005, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "上海",
                "value": [121.473701, 31.230416, 44],
                "symbolSize": 3,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "内蒙古",
                "value": [111.765618, 40.817498, -23],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "尚志",
                "value": [128.009895, 45.209586, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "湖里",
                "value": [118.146769, 24.512905, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "台州",
                "value": [121.420757, 28.656386, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "潍坊",
                "value": [119.161756, 36.706774, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "苏州",
                "value": [120.585316, 31.298886, 14],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "房山",
                "value": [116.143267, 39.749144, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "即墨",
                "value": [120.447128, 36.389639, 15],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "舒兰",
                "value": [126.965607, 44.406106, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "延吉",
                "value": [129.508946, 42.891255, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "三河",
                "value": [117.078295, 39.982718, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "大连",
                "value": [121.614682, 38.914003, 40],
                "symbolSize": 3,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "辉南",
                "value": [126.046912, 42.684993, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "无锡",
                "value": [120.31191, 31.49117, 14],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "常州",
                "value": [119.973987, 31.810689, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "广西",
                "value": [108.327546, 22.815478, -1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "泉州",
                "value": [118.675676, 24.874132, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "昌平",
                "value": [116.231204, 40.22066, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "海阳",
                "value": [121.158434, 36.776378, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "郑州",
                "value": [113.625368, 34.7466, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "东城",
                "value": [116.416357, 39.928353, 10],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "黄骅",
                "value": [117.330048, 38.371383, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "武侯",
                "value": [104.04339, 30.641982, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "鸡东",
                "value": [131.12408, 45.260412, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "龙口",
                "value": [120.477813, 37.646108, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "汤原",
                "value": [129.905072, 46.730706, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "湖北",
                "value": [114.341862, 30.546498, -4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "克拉玛依",
                "value": [84.889207, 45.579889, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "厦门",
                "value": [118.089425, 24.479834, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "哈尔滨",
                "value": [126.534967, 45.803775, 8],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "秦皇岛",
                "value": [119.600493, 39.935385, 7],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "江苏",
                "value": [118.763232, 32.061707, -1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "常熟",
                "value": [120.752481, 31.654376, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "烟台",
                "value": [121.447935, 37.463822, 24],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "和平",
                "value": [117.21451, 39.116949, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "环翠",
                "value": [122.123444, 37.501991, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "宣武门外东大街",
                "value": [116.378888, 39.899332, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "张家港",
                "value": [120.553284, 31.870367, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "临安",
                "value": [119.724733, 30.233873, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "延安",
                "value": [109.489727, 36.585455, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "天津",
                "value": [117.200983, 39.084158, 28],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "城阳",
                "value": [120.39631, 36.307064, 15],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "石景山",
                "value": [116.222982, 39.906611, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "长沙",
                "value": [112.938814, 28.228209, 5],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "安徽",
                "value": [117.284923, 31.861184, -1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "昆山",
                "value": [120.980737, 31.385598, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "徐汇",
                "value": [121.436525, 31.188523, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "东港",
                "value": [124.152705, 39.863008, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "廊坊",
                "value": [116.683752, 39.538047, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "鞍山",
                "value": [122.994329, 41.108647, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "海陵",
                "value": [119.919425, 32.491016, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "黑龙江",
                "value": [126.661669, 45.742347, -198],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "西藏",
                "value": [91.117212, 29.646923, -1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "河南",
                "value": [113.274379, 34.445122, 0],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "湖南",
                "value": [112.98381, 28.112444, -1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "佛山",
                "value": [113.121416, 23.021548, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "珲春",
                "value": [130.366036, 42.862821, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "扬州",
                "value": [119.412966, 32.39421, 5],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "日照",
                "value": [119.526888, 35.416377, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "唐山",
                "value": [118.180194, 39.630867, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "同江",
                "value": [132.510919, 47.642707, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "荣成",
                "value": [122.486658, 37.16516, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "虎林",
                "value": [132.93721, 45.762686, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "武汉",
                "value": [114.305393, 30.593099, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "合肥",
                "value": [117.227239, 31.820587, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "荆州",
                "value": [112.239741, 30.335165, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "丰台",
                "value": [116.287149, 39.858427, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "山东",
                "value": [117.020359, 36.66853, -6],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "舟山",
                "value": [122.207216, 29.985295, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "连云港",
                "value": [119.221611, 34.596653, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "西安",
                "value": [108.940175, 34.341568, 3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "济南",
                "value": [117.12, 36.651216, 4],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "绵阳",
                "value": [104.679114, 31.46745, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "辽宁",
                "value": [123.42944, 41.835441, -58],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "山西",
                "value": [112.562398, 37.873532, -3],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#58B3CC"}}
            }, {
                "name": "呼和浩特",
                "value": [111.749181, 40.842585, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "河西",
                "value": [117.223372, 39.109563, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "兴和",
                "value": [113.834173, 40.872301, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "重庆",
                "value": [106.551557, 29.56301, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "胶州",
                "value": [120.033382, 36.26468, 5],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "宁波",
                "value": [121.550357, 29.874557, 10],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "滨海",
                "value": [119.820831, 33.990334, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "太原",
                "value": [112.548879, 37.87059, 2],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "鸡西",
                "value": [130.969333, 45.295075, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "兰山",
                "value": [118.347707, 35.051729, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "阳泉",
                "value": [113.580519, 37.856972, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "勃利",
                "value": [130.592171, 45.755063, 1],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }, {
                "name": "长春",
                "value": [125.323544, 43.817072, 8],
                "symbolSize": 2,
                "itemStyle": {"normal": {"color": "#F58158"}}
            }
        ]

        var i = 0


        for (i = 0; i < 3; i++) {
            var allData = allDataParam;
            var option8 = {
                title: {
                    text: '',
                    left: 'center',
                    textStyle: {
                        color: '#fff'
                    }
                },
                legend: {
                    show: false,
                    orient: 'vertical',
                    top: 'bottom',
                    left: 'right',
                    data: ['地点', '线路'],
                    textStyle: {
                        color: '#fff'
                    }
                },
                geo: {
                    map: 'world',
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: 'rgba(7,21,57,0.5)',
                            borderColor: '#0177ff'
                        },
                        emphasis: {
                            areaColor: '#bec2cc'//鼠标指上市时的颜色
                        }
                    }
                },
                series: [
                    {
                        name: '地点',
                        type: 'effectScatter',
                        coordinateSystem: 'geo',
                        zlevel: 2,
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        label: {
                            emphasis: {
                                show: true,
                                position: 'right',
                                formatter: '{b}'
                            }
                        },
                        symbolSize: 2,
                        showEffectOn: 'render',
                        itemStyle: {
                            normal: {
                                color: '#46bee9'
                            }
                        },
                        data: city
                    },
                    {
                        name: '线路',
                        type: 'lines',
                        coordinateSystem: 'geo',
                        zlevel: 2,
                        large: true,
                        effect: {
                            show: true,
                            constantSpeed: 30,
                            symbol: 'pin',
                            symbolSize: 7,
                            trailLength: 0,
                        },
                        lineStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0, color: '#58B3CC'
                                }, {
                                    offset: 1, color: '#F58158'
                                }], false),
                                width: 2,
                                opacity: 0.2,
                                curveness: 0.1
                            }
                        },
                        data: allData.moveLines // 使用传入的 allData 参数
                    }
                ]
            };
        }

        myChart8.setOption(option8);
    }




    var myChart2 = echarts.init(document.getElementById('main'));

    var dates = [];
    var counts = [];


    var option2 = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: dates
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '50%']
        },
        series: [{
            name: '成交',
            type: 'line',
            data: counts,
            smooth: true,
            symbol:'none',
            stack:'a',
            areaStyle: {}
        }]
    };


    const ws = new WebSocket(`ws://${ipAddress}/count_last_second`);
    ws.onmessage = function(event) {
        const response = JSON.parse(event.data);
        // 更新图表数据
        dates.push(response.time);
        counts.push(response.count);

        // 保持数据数组不超过一定长度
        if (dates.length > 20) {
            dates.shift();
            counts.shift();
        }


        myChart2.setOption({
            xAxis: {
                data: dates
            },
            series: [{
                data: counts
            }]
        });
    };
     myChart2.setOption(option2);


    window.onresize = function() {
        myChart2.resize();
    };












    const selectElement = document.getElementById("collectionSelect");
    // 创建WebSocket连接

    const socket = new WebSocket(`ws://${ipAddress}/collection_names`);

    socket.addEventListener("message", function (event) {
        const collectionNames = JSON.parse(event.data);
        updateCollectionList(collectionNames);
    });

  function updateCollectionList(collectionNames) {
    // 获取列表的 HTML 元素
    const listElement = document.getElementById("collectionList");

    // 清空现有的列表项
    listElement.innerHTML = "";

    // 遍历所有集合名称并为每个名称创建一个新的列表项
    collectionNames.forEach(function(collectionName) {
        // 创建一个新的 <li> 元素
        const listItem = document.createElement("li");
        // 设置列表项的文本内容为集合名称
        listItem.textContent = collectionName;
        // 设置列表项的点击事件
        listItem.onclick = function() {
            sendData(collectionName);
        };
        // 将列表项添加到列表中
        listElement.appendChild(listItem);
    });
}



    function sendData(collectionName) {
    const dataToSend = { Local: collectionName, Time: "value2" }; // 假设你需要发送的数据
    // 更新界面上显示的选中的集合名
    document.getElementById("User").innerHTML = dataToSend.Local;
    // 发送数据到服务器
    fetch('/api/send_data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataToSend)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Response from FastAPI:', data);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    selectElement.addEventListener("change", sendData);
</script>

<!--?<script src="./static/js/home_line.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</body>
</html>
