<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 数据看板 | DGA域名检测系统 </title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="static/css/css2.css" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="static/css/bootstrap-icons.min.css" type="text/css">
    <!-- Bootstrap Docs -->
    <link rel="stylesheet" href="static/css/bootstrap-docs.css" type="text/css">

    <!-- Slick -->
    <link rel="stylesheet" href="static/css/slick.css" type="text/css">

    <!-- Main style file -->
    <link rel="stylesheet" href="static/css/app.min.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--?    fish-->
    <link rel="stylesheet" href="static/css/fish.css">
</head>
<body>

<!-- preloader -->
<div class="preloader">
    <img src="static/picture/logo.svg" alt="logo">
    <div class="preloader-icon"></div>
</div>
<!-- ./ preloader -->

<!-- sidebars -->

<!-- notifications sidebar -->
<div class="sidebar" id="notifications">
    <div class="sidebar-header d-block align-items-end">
        <div class="align-items-center d-flex justify-content-between py-4">
            Notifications
            <button data-sidebar-close="">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-content">
        <div class="tab-content">
            <div class="tab-pane active" id="activities">
                <div class="tab-pane-body">
                    <ul class="list-group list-group-flush">
                        <li class="px-0 list-group-item">
                            <a href="#" class="d-flex">
                                <div class="flex-shrink-0">
                                    <figure class="avatar avatar-info me-3">
                                        <img src="static/picture/robot.jpg" class="rounded-circle" alt="image">
                                    </figure>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="mb-0 fw-bold d-flex justify-content-between">
                                        域名检测助手
                                    </p>
                                    <span class="text-muted small">
                                        <i class="bi bi-clock me-1"></i> 2023-11-28 16:08
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="px-0 list-group-item">
                            <a href="#" class="d-flex">
                                <div class="flex-shrink-0">
                                    <figure class="avatar avatar-warning me-3">
                                        <img src="static/picture/banshou.png" class="rounded-circle" alt="image">
                                    </figure>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="mb-0 fw-bold d-flex justify-content-between">
                                        系统通知
                                    </p>
                                    <span class="text-muted small">
                                        <i class="bi bi-clock me-1"></i> 2024-2-12 12:08
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="px-0 list-group-item">
                            <a href="#" class="d-flex">
                                <div class="flex-shrink-0">
                                    <figure class="avatar avatar-secondary me-3">
                                        <img src="static/picture/cash.png" class="rounded-circle" alt="image">
                                    </figure>
                                </div>
                                <div class="flex-grow-1">
                                    <p class="mb-0 d-flex justify-content-between">
                                        账号与用户
                                    </p>
                                    <span class="text-muted small">
                                        <i class="bi bi-clock me-1"></i> 2024-3-20 09:23
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane-footer">
                    <a href="#" class="btn btn-success">
                        <i class="bi bi-check2 me-2"></i> Make All Read
                    </a>
                    <a href="#" class="btn btn-danger ms-2">
                        <i class="bi bi-trash me-2"></i> Delete all
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- ./ notifications sidebar -->

<!-- settings sidebar -->
<div class="sidebar" id="settings">
    <div class="sidebar-header">
        <div>
            <i class="bi bi-gear me-2"></i>
            Settings
        </div>
        <button data-sidebar-close="">
            <i class="bi bi-arrow-right"></i>
        </button>
    </div>
    <div class="sidebar-content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item px-0 border-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked="">
                    <label class="form-check-label" for="flexCheckDefault1">
                        Remember next visits
                    </label>
                </div>
            </li>
            <li class="list-group-item px-0 border-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" checked="">
                    <label class="form-check-label" for="flexCheckDefault2">
                        Enable report generation.
                    </label>
                </div>
            </li>
            <li class="list-group-item px-0 border-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked="">
                    <label class="form-check-label" for="flexCheckDefault3">
                        Allow notifications.
                    </label>
                </div>
            </li>
            <li class="list-group-item px-0 border-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                    <label class="form-check-label" for="flexCheckDefault4">
                        Hide user requests
                    </label>
                </div>
            </li>
            <li class="list-group-item px-0 border-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" checked="">
                    <label class="form-check-label" for="flexCheckDefault5">
                        Speed up demands
                    </label>
                </div>
            </li>
            <li class="list-group-item px-0 border-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Hide menus
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar-action">
        <a href="#" class="btn btn-primary">All Settings</a>
    </div>
</div>
<!-- ./ settings sidebar -->

<!-- search sidebar -->
<div class="sidebar" id="search">
    <div class="sidebar-header">
        Search
        <button data-sidebar-close="">
            <i class="bi bi-arrow-right"></i>
        </button>
    </div>
    <div class="sidebar-content">
        <form class="mb-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="button-search-addon">
                <button class="btn btn-outline-light" type="button" id="button-search-addon">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <h6 class="mb-3">Last searched</h6>
        <div class="mb-4">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-search"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Reports for 2021</a>
                <a href="#" class="btn text-danger btn-sm" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-search"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Current users</a>
                <a href="#" class="btn" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-search"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Meeting notes</a>
                <a href="#" class="btn" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
        </div>
        <h6 class="mb-3">Recently viewed</h6>
        <div class="mb-4">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-secondary avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-check-circle"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Todo list</a>
                <a href="#" class="btn" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-warning avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-wallet2"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Pricing table</a>
                <a href="#" class="btn" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-info avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-gear"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Settings</a>
                <a href="#" class="btn" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="avatar avatar-success avatar-sm me-3">
                        <span class="avatar-text rounded-circle">
                            <i class="bi bi-person-circle"></i>
                        </span>
                </a>
                <a href="#" class="flex-fill">Users</a>
                <a href="#" class="btn" data-bs-toggle="tooltip" title="Remove">
                    <i class="bi bi-x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar-action">
        <a href="#" class="btn btn-danger">All Clear</a>
    </div>
</div>
<!-- ./ search sidebar -->

<!-- ./ sidebars -->

<!-- menu -->
<div class="menu">
    <div class="menu-header">
        <a href="" class="menu-header-logo">
            <img src="static/picture/logo.svg" alt="logo">
        </a>
        <a href="" class="btn btn-sm menu-close-btn">
            <i class="bi bi-x"></i>
        </a>
    </div>
    <div class="menu-body">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
                <div class="avatar me-3">
                    <img src="static/picture/man_avatar3.jpg" class="rounded-circle" alt="image">
                </div>
                <div>
                    <div class="fw-bold">user</div>
                    <small class="text-muted">ip:xxxxxx</small>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="#" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-person dropdown-item-icon"></i> Profile
                </a>
                <a href="#" class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-envelope dropdown-item-icon"></i> Inbox
                </a>
                <a href="#" class="dropdown-item d-flex align-items-center" data-sidebar-target="#settings">
                    <i class="bi bi-gear dropdown-item-icon"></i> Settings
                </a>
                <a href="login.html" class="dropdown-item d-flex align-items-center text-danger" target="_blank">
                    <i class="bi bi-box-arrow-right dropdown-item-icon"></i> Logout
                </a>
            </div>
        </div>
        <ul>
            <li class="menu-divider">导航栏</li>
            <li>
                <a class="active" href="">
                    <span class="nav-link-icon">
                        <i class="bi bi-bar-chart"></i>
                    </span>
                    <span>数据看板</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-link-icon">
                        <i class="bi bi-receipt"></i>
                    </span>
                    <span>集群管理</span>
                </a>
                <ul>
                    <li>
                        <a href="orders.html">设备列表</a>
                    </li>
                    <li>
                        <a href="order-detail.html">设备详情</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="customers.html">
                    <span class="nav-link-icon">
                        <i class="bi bi-person-badge"></i>
                    </span>
                    <span>流量日志</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./  menu -->

<!-- layout-wrapper -->
<div class="layout-wrapper">

    <!-- header -->
    <div class="header">
        <div class="menu-toggle-btn"> <!-- Menu close button for mobile devices -->
            <a href="#">
                <i class="bi bi-list"></i>
            </a>
        </div>
        <!-- Logo -->
        <a href="" class="logo">
            <img width="100" src="static/picture/logo.svg" alt="logo">
        </a>
        <!-- ./ Logo -->
        <div class="page-title">数据看板</div>
        <div class="header-bar ms-auto">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link nav-link-notify" data-count="3" data-sidebar-target="#notifications">
                        <i class="bi bi-bell icon-lg"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" data-count="3" data-bs-toggle="dropdown">
                        <i class="bi bi-cart2 icon-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                        <h6 class="m-0 px-4 py-3 border-bottom">Shopping Cart</h6>
                        <div class="dropdown-menu-body">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/3.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>Digital clock</h6>
                                        <div>1 x $1.190,90</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/4.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>Toy Car</h6>
                                        <div>1 x $139.58</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/5.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>Sunglasses</h6>
                                        <div>2 x $50,90</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item d-flex align-items-center">
                                    <a href="#" class="text-danger me-3" title="Remove">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    <a href="#" class="me-3 flex-shrink-0 ">
                                        <img src="static/picture/6.jpg" class="rounded" width="60" alt="...">
                                    </a>
                                    <div>
                                        <h6>Cake</h6>
                                        <div>1 x $10,50</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="m-0 px-4 py-3 border-top small">Sub Total : <strong
                                class="text-primary">$1.442,78</strong></h6>
                    </div>
                </li>
                <li class="nav-item ms-3">
                    <button class="btn btn-primary btn-icon">
                        <i class="bi bi-plus-circle"></i> Create New
                    </button>
                </li>
            </ul>
        </div>
        <!-- Header mobile buttons -->
        <div class="header-mobile-buttons">
            <a href="#" class="search-bar-btn">
                <i class="bi bi-search"></i>
            </a>
            <a href="#" class="actions-btn">
                <i class="bi bi-three-dots"></i>
            </a>
        </div>
        <!-- ./ Header mobile buttons -->
    </div>
    <!-- ./ header -->

    <!-- content -->
    <div class="content ">

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">异常与正常域名比例</h6>
                        <div id="domain_count" style="height: 100%;width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">集群状态</h6>
                        <div id="type_rate" style="height: 100%;width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <h6 class="card-title">新消息通知</h6>
                            <div class="dropdown ms-auto">
                            </div>
                        </div>
                        <div class="summary-cards">
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <div class="avatar me-3">
                                        <img src="static/picture/robot.jpg" class="rounded-circle" alt="image">
                                    </div>
                                    <div>
                                        <h5 class="mb-1">域名检测助手</h5>
                                        <ul class="list-inline ms-auto mb-0">
                                            <li class="list-inline-item mb-0">
                                                <h6>2023-11-28 16:08</h6>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>检测结果：您的域名检测结果已生成，请查看您提供的邮箱或登录我们的平台查看详细报告。</h6>
                            </div>
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <div class="avatar me-3">
                                        <img src="static/picture/banshou.png" class="rounded-circle" alt="image">
                                    </div>
                                    <div>
                                        <h5 class="mb-1">系统通知</h5>
                                        <ul class="list-inline ms-auto mb-0">
                                            <li class="list-inline-item mb-0">
                                                <h6>2024-2-12 12:08</h6>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>恭喜！您查询的域名目前可供注册使用，请尽快完成注册以确保您拥有该域名。</h6>
                            </div>
                            <div>
                                <div class="d-flex align-items-center mb-3">
                                    <div class="avatar me-3">
                                        <img src="static/picture/cash.png" class="rounded-circle" alt="image">
                                    </div>
                                    <div>
                                        <h5 class="mb-1">账号与用户</h5>
                                        <ul class="list-inline ms-auto mb-0">
                                            <li class="list-inline-item mb-0">
                                                <h6>2024-3-20 09:23</h6>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                            <li class="list-inline-item mb-0">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>
                                    当您的域名即将到期时，我们会发送一封提醒您续订的通知邮件，以确保您不会失去您重要的域名。</h6>
                            </div>
                        </div>
                        <div class="fish">
                            <div class="bowl"></div>
                            <div class="water">
                                <div class="body">
                                    <div class="eye"></div>
                                    <div class="fin-center"></div>
                                    <div class="fin top"></div>
                                    <div class="fin bottom"></div>
                                    <div class="tail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="card widget h-100">
                    <div class="card-header d-flex">
                        <h6 class="card-title">
                            实时流量监控
                            <a class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Multi-device data volume"></a>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="d-md-flex align-items-center mb-3">
                            <div class="d-flex align-items-center">
                                <div class="display-7 me-3">
                                    <i class="bi bi-bag-check me-2 text-success">每分钟多设备数据量变化</i>
                                </div>
                            </div>
                        </div>
                        <div id="sales-chart"></div>
                        <div class="d-flex justify-content-center gap-4 align-items-center ms-auto mt-3 mt-lg-0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="card widget h-100">
                    <div class="card-header d-flex">

                        <!--?                    -->
                        <!--?                    世界地图-->
                        <h6 class="card-title">
                            流量路径
                            <a class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Data traffic path"></a>
                        </h6>
                    </div>
                    <div class="card-body">
                        <!--?                        世界地图-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title">域名种类统计（过去五天每天的类别数量）</h6>
                        <div id="domain_kinds" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card h-100 bg-purple">
                    <div class="card-body text-center">
                        <div class="text-white-50">
                            <div class="bi bi-box-seam display-6 mb-3"></div>
                            <div class="display-8 mb-2">每日数据流量</div>
                            <h5>7 days</h5>
                        </div>
                        <div id="products-sold"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card widget h-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title">
                            设备列表
                            <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                               title="Sales performance revenue based by country"></a>
                            （共<span id="device-count">0</span>台设备）
                        </h5>

                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush" id="device-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ content -->
</div>
<!-- ./ layout-wrapper -->

<!-- Bundle scripts -->
<script src="static/js/bundle.js"></script>

<!-- Apex chart -->
<script src="static/js/apexcharts.min.js"></script>

<!-- Slick -->
<script src="static/js/slick.min.js"></script>

<!-- Examples -->
<script src="static/js/dashboard.js"></script>

<!-- Main Javascript file -->
<script src="static/js/app.min.js"></script>

<!--?charts-->
<script src="static/js/echarts.min.js"></script>
<script src="static/js/mychart_domain_count.js"></script>
<script src="static/js/mychart_type_rate.js"></script>
<script src="static/js/mychart_domain_kinds.js"></script>
</body>
</html>
