<style>
    body {
        display: grid;
        grid-template-rows: 1fr 1fr; /* 上下均分 */
        grid-template-columns: 1fr 1fr; /* 左右均分 */
        height: 100vh; /* 让整个页面占据视口的高度 */
        margin: 0; /* 去除默认的外边距 */
    }

    .area {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
    }

    .area:nth-child(1) {
        background-color: lightblue; /* Top区域颜色 */
    }

    .area:nth-child(2) {
        background-color: lightgreen; /* Right区域颜色 */
    }

    .area:nth-child(3) {
        background-color: lightcoral; /* Bottom区域颜色 */
    }

    .area:nth-child(4) {
        background-color: lightgoldenrodyellow; /* Left区域颜色 */
    }
</style>

<div class="area">Top</div>
<div class="area">Right</div>
<div class="area">Bottom</div>
<div class="area">Left</div>
