<meta charset="UTF-8">
<link rel="stylesheet" href="./test.css">

<div data-v-10c91e1e="" class="home-item">
    <div data-v-daf72762="" data-v-10c91e1e="" class="entryCard" peanuthullinfo="[object Object]"
         peanuthullproperty="[object Object]" peanuthullstatus="[object Object]" normalmappinglist=""
         forwardservice="[object Object]" bandwidthservice="[object Object]" calcflow="[object Object]"
         agentcustomer="[object Object]"
         servicelift="220001,220002,220003,2303,220004,220101,220102,220103,2403,220104,223001,223002,223003,223004,223101,223102,223103,223104,210125,210126,210127,210128"
         sslservices="[object Object]" portlist="" transferservices="" validalldomain="[object Object]" topdomains=""
         childdomains="[object Object]" hskdomain="[object Object]" flowxaxis="[object Object]" flowdata=""><p
            data-v-daf72762="" class="card-title">快捷入口</p>
        <div data-v-daf72762="" class="entry-wrap flex flex-between">
            <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                            src="//res.orayimg.com/hsk/console/2.0/img/f351ea2.png"
                                                            alt="" width="44">
                <p data-v-daf72762="" class="entry-text">新增应用</p></div>
            <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                            src="//res.orayimg.com/hsk/console/2.0/img/b0de197.png"
                                                            alt="" width="44">
                <p data-v-daf72762="" class="entry-text">独立密码</p></div>
            <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                            src="//res.orayimg.com/hsk/console/2.0/img/9942af1.png"
                                                            alt="" width="44">
                <p data-v-daf72762="" class="entry-text">域名列表</p></div>
            <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                            src="//res.orayimg.com/hsk/console/2.0/img/99656fe.png"
                                                            alt="" width="44">
                <p data-v-daf72762="" class="entry-text">订单管理</p></div>
            <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                            src="//res.orayimg.com/hsk/console/2.0/img/390f09a.png"
                                                            alt="" width="44">
                <p data-v-daf72762="" class="entry-text">多账号管理</p></div>
            <div data-v-daf72762="" class="entry-item"><img data-v-daf72762=""
                                                            src="//res.orayimg.com/hsk/console/2.0/img/a18c51a.png"
                                                            alt="" width="44">
                <p data-v-daf72762="" class="entry-text">联系客服</p></div>
        </div>
    </div>
</div>